:root {
  --main-color: #fa4b83;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  color: #ffff;
  font-family: var(--default-font-family);
}

.mt-5 {
  margin-top: 100px !important;
}

h1 {
  color: var(--main-color);
}

h1,
h2 {
  font-family: var(--heading-font-family);
  font-size: 800;
  font-weight: bold;
}

p {
  font-size: 800;
  font-weight: normal;
}

.btn-primary {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.btn-primary:hover {
  background-color: #f10550;
  border-color: #f10550;
}

@media (max-width: 960px) {
  body {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .text-description {
    text-align: center;
    line-height: 1.5em;
  }
}
