:root {
  --main-color: #fa4b83;
  --primary-color: #f10550;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  color: #ffff;
  font-family: var(--default-font-family);
}

h1,
.container h2 {
  color: var(--main-color);
}

h1,
h2 {
  font-family: var(--heading-font-family);
  font-size: 800;
  font-weight: bold;
}

h5 {
  font-family: var(--heading-font-family);
  color: var(--main-color);
}

p {
  font-size: 800;
  font-weight: normal;
}

.navbar {
  background-color: black !important;
}

.navbar-brand {
  color: var(--main-color);
}

.navbar-brand:hover {
  color: #df2862;
}

.navbar .nav-link {
  color: #ffff;
}

.navbar .active {
  color: #885df1 !important;
}

.navbar-toggler {
  background-color: #ffff;
}

/*.mt-5 {
  margin-top: 100px !important;
}
*/

.text-pink {
  color: var(--main-color);
}

.btn-primary {
  background-color: var(--main-color);
  border-color: var(--main-color);
  transition: all 150ms ease-in-out;
}

.btn-primary:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:active {
  background-color: var(--primary-color);
  border: var(--primary-color);
}

.btn-primary:disabled {
  background-color: var(--primary-color);
  border-color: #f10550;
}

.shadow-sm {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2) !important;
}

@media (max-width: 960px) {
  .text-description {
    text-align: center;
    line-height: 1.5em;
  }

  .col-md-12 {
    display: flex;
    justify-content: center;
  }
}
